# Credenciais usadas exclusivamente pelos testes end-to-end autenticados.
E2E_BASE_URL="http://webtrans-qa-custom-lucas-v2.us-east-2.elasticbeanstalk.com"
E2E_LOGIN_EMAIL="email"
E2E_LOGIN_PASSWORD="senha@"
E2E_ORGANIZATION="sua-organizacaoexample"
