# Credenciais usadas exclusivamente pelos testes end-to-end autenticados.
E2E_BASE_URL="http://webtrans-qa-custom-lucas-v2.us-east-2.elasticbeanstalk.com"
E2E_LOGIN_EMAIL="jorge.conrado.18@gmail.com"
E2E_LOGIN_PASSWORD="b12alpha1@"
E2E_ORGANIZATION="sua-organizacao"
